.unicdev-auto {
	display: flex;
	flex-direction: column;
	gap: 5px;

	--input-width: 300px;
	width: var(--input-width);
}

.unicdev-auto-input-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 1px solid #9ca3af;
	border-radius: 8px;
	position: relative;
}

.unicdev-auto-input {
	margin: 10px;
	width: var(--input-width);
	outline: none;
	border: none;
}

.unicdev-auto-input:focus {
	outline: none;
}

.unicdev-auto-label {
	font-size: 18px;
	font-weight: 500;
}

.unicdev-circular-loading {
	width: 26px;
}

.unicdev-suggestion-container {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
	border-radius: 8px;
	border: 1px solid #e5e7eb;
	z-index: 1000;
	max-height: 400px;
	width: 100%;
	overflow-y: auto;
	scrollbar-width: thin;
}

.unicdev-suggestion-item {
	background-color: #fff;
	color: #1a1a1a;
	padding: 10px;
	border-bottom: 1px solid #e5e7eb;
	transition: all 0.05s;
	line-height: 24px;
}

.unicdev-suggestion-item:hover {
	background-color: #f3f4f6;
	border-bottom: 1px solid #e5e7eb;
	cursor: pointer;
}

.unicdev-suggestion-active {
	background-color: #d1d5db;
	color: #000;
}
